* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(221, 221, 221);
    height: 100vh;
}

.container{
        margin: 25px auto;
        padding: 25px;
        width: 100%;
        max-width: 350px;
        border-radius: 10px;
        background-color: white;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.fechaCompleta {
    display: flex;
    align-items: center;
}

#diaNumero{
        font-size: 50px;
}

#mes,
#diaNumero,
#dia  {
    font-weight: bold;
}

#mes,
#anio {
    font-size: 20px;
}

.taskContainer {
    border-radius: 10px;
    margin-bottom: 10px; 
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: repeat(2,1fr);
    cursor: pointer;

}

.taskDescription{
    grid-column: 1;
    grid-row: 1;
}

.taskCategory{
    grid-column: 1;
    grid-row: 2;
}

.done{
    background-color: #A5C882
}




